<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p v-if="logado">Usuário Logado:{{nome}}</p>
        <p v-if="!logado">Nenhum usuário logado</p>
        <button @click="logado=!logado">Logar</button>
    </div>
</body>
</html>

<script>
    new Vue({
        el: "#app",

        data:{
            nome:"Matheus",
            logado: false
        }
    })
</script>